<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ id_resena ? 'Editar Reseña' : 'Nueva Reseña' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked" class="bold-label">Puntuación:</ion-label>
    <ion-input type="number" [(ngModel)]="puntuacion"></ion-input>
  </ion-item>
  <ion-label position="stacked" class="bold-label" color="danger">{{mensaje}}</ion-label>
  <ion-item>
    <ion-label position="stacked" class="bold-label">Reseña:</ion-label>
    <ion-textarea [(ngModel)]="resena"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-button (click)="verificar()" expand="block" shape="round">
      Guardar
    </ion-button>
    <ion-button (click)="back()" expand="block" color="danger" shape="round">
      Cancelar
    </ion-button>
  </ion-item>
</ion-content>